<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedCuda.NETStandard" version="9.1.300" targetFramework="net461" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-Nvml.NETStandard" version="9.1.300" targetFramework="net461" />
  <package id="OpenHardwareMonitor" version="0.7.1" targetFramework="net461" />
  <package id="OpenHardwareMonitorLibCore" version="1.0.2" targetFramework="net461" />
</packages>